# Ignore everything at the top level
/*

# Unignore all directories so we can traverse into subfolders
!*/

# Unignore Python files anywhere
!*.py
!**/*.py

# Do not track these folders
/Data/
/Logs/
/Plots/
/WindowsPowershell/

# Explicitly ignore data files everywhere
*.csv
**/*.csv
*.json
**/*.json
test.py
test2.py
*.pkl
*.h5
*.tflite
*.png
*.txt
# Ignore Python bytecode cache and compiled files
__pycache__/
*.py[cod]

# Allow .gitignore itself
!.gitignore


# Ignore system files
.DS_Store
Thumbs.db

